  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://c.webfontfree.com/c.js?f=GrandSlang-Roman');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'grand';
  src: url('/font/GrandSlang-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
}